# Database Connection Strings (dari Supabase Settings -> Database)
# 1. DATABASE_URL: Gunakan Transaction Pooler (port 6543) untuk serverless Next.js
DATABASE_URL="postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# 2. DIRECT_URL: Gunakan Session/Direct connection (port 5432) untuk Prisma Migrations / db push
DIRECT_URL="postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# JWT Secret untuk otentikasi login kasir & owner (bisa diisi string acak panjang)
JWT_SECRET="pos-ruko-production-secret-key-ganti-dengan-string-acak-panjang"
